<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--Plugin does not need anymore-->
    <!--<type name="Training\QuantityChecker\Block\CheckQty">-->
        <!--<plugin name="training_check_quantity" type="Training\QuantityChecker\Plugin\Block\Template" />-->
    <!--</type>-->
</config>