<div class="quantity-checker-box" data-bind="blockLoader: isLoading">
    <h4 data-bind="i18n: 'Quantity Checker'"></h4>
    <div class="quantity-checker stock available">
        <!-- ko if: (showQuantity) -->
        <span class="available">Available quantity: </span>
        <span data-bind="text: quantity"></span>
        <!-- /ko -->

        <button type="button"
                class="action primary"
                data-bind="i18n: 'Check store quantity', click: quantityCheck"></button>
        <button type="button"
                class="action"
                data-bind="i18n: 'Hide store quantity', click: hideQuantity"></button>

    </div>
</div>